// fonts
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

// colors
$primary-red: hsl(0, 100%, 67%);
$primary-yellow: hsl(39, 100%, 56%);
$primary-teal: hsl(166, 100%, 37%);
$primary-blue: hsl(234, 85%, 45%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-paleBlue: hsl(221, 100%, 96%);
$neutral-lavender: hsl(241, 100%, 89%);
$neutral-darkGrayBlue: hsl(224, 30%, 27%);

$gradient-bg-lightSlateBlue: hsl(252, 100%, 67%);
$gradient-bg-lightRoyalBlue: hsl(241, 81%, 54%);
$gradient-circle-violetBlue: hsla(256, 72%, 46%, 1);
$gradient-circle-persianBlue: hsla(241, 72%, 46%, 0);
